.breadcrumb {
  padding: 0px;
  list-style: none;
  background-color: transparent;
  margin-bottom: 30px;
  li {
    @include make-xs-column(2);
    button {
      color: white;
      border: 1px solid white;
      font-size: $font-size-small;
      background-color: transparent;
      width: 100%;
    }
    button:hover{
      border: 1px solid white;
      color: white;
      background-color: $gray-dark;
      text-decoration: none;
    }
    button.active {
      background-color: white;
      color: $gray-dark;
    }
    button.passed {
      background-color: $gray-dark;
      border-color: $gray-dark;
    }
  }
  > li + li:before {
    content: none;
  }
}
