.btn-icon {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  &:active {
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
  &[disabled] {
    color: #CCC;
  }
  &.appear-disabled {
    color: $bb-gray;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-xl {
  font-size: 50px;
}

.bb-btn-link {
  cursor: pointer;
}

.button-group{
  padding-top: 15px;
  .btn {
    width: 100%;
    @media (min-width: $screen-sm-min) {
      width: auto;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 10px;
    }
  }
  &.bordered {
    border-top: 1px solid #DDD;
    margin-top: 30px;
  }
}

// .date-picker .input-group-btn .btn {
//   height: 36px;
//   margin-bottom: 15px;
// }

.btn {
  .fa {
    height: 18px;
  }

  &.btn-lg .fa {
    height: 22px;
  }

}

.btn {
  &:focus, &:active:focus {
    outline: 0;
    border: 1px $input-border-focus solid;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
  }
  span {
    &:focus {
      outline: 0;
      border: none;
    }
  }
}
