.bb-service-list, div[bb-services] {

  .bb-service-name {
    font-size: $font-size-large;
    font-weight: 400;
  }

  .bb-service-name-small {
    margin-top: 10px;
  }

  .bb-service-image {
    margin-bottom: 20px;
    img {
      @include center-block();
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  .bb-service-description {
    margin-bottom: 20px;
  }

  .bb-service-price {
    font-size: $font-size-large;
    text-align: right;
  }

}
